#set($id = $product.Id)
#set($uri = $product.Uri)
#set($name = $product.HtmlEscapedName)
#if ($product.IsInStock)
<div class="container" data-id="$id">
    <div class="loading"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    <div class="flags">
        <div class="HightLight">$product.HightLight</div>
        <div class="DiscountHightLight">$product.DiscountHightLight</div>
        <div class="ListPriceMinusBestPriceInPercent" style="display: none;">$product.ListPriceMinusBestPriceInPercent</div>
    </div>
    <div class="left">
        <div class="image">
            <a title="$name" href="$uri">$product.GetImageTag(30)</a>
        </div>
    </div>
    <div class="conversion-data" style="display: none;">$product.ProductField(35)</div>
    <div class="right">
        <div class="brand">$product.BrandLink</div>
        <h3 class="name"><a title="$name" href="$uri">$name</a></h3>
        <div class="price-per"></div>
        <div class="skuSelect">
            <h6>Elige</h6>
            <div class="variations">
                <div class="InsertSku" style="display: none;">$product.InsertSku</div>
            </div>
        </div>
        <a title="$name" href="$uri" class="price">
            #if ($product.HasBestPrice)
            <span class="list-price"><s>$product.ListPrice</s></span>
            #else
            <span class="list-price"></span>
            #end
            <span class="best-price">$product.BestPrice</span>
        </a>
        <div class="buy">
            <div class="qty">
                <input type="text" name="amout" id="amout" value="1" maxlength="2" />
                <div class="counter">
                    <span class="up"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    <span class="down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </div>
            </div>
            <button class="buysku">agregar</button>
        </div>
    </div>
</div>
#else
<div class="container" data-id="$id">
    <div class="loading"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    <div class="left">
        <div class="image">$product.GetImageTag(30)</div>
    </div>
    <div class="right">
        <div class="brand">$product.BrandLink</div>
        <h3 class="name">$name</h3>
        <h4 class="sin-stock">Sin stock por minutos.<br />Si quieres pidelo por chat!</h4>
    </div>
</div>
#end