<link rel="shortcut icon" type="image/x-icon" href="/arquivos/favicon-hakahonu.ico" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/arquivos/jquery-ui.min.css" />
<link href="/arquivos/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/lightbox.css" rel="stylesheet" />
<link href="/arquivos/style-haka.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/style-haka-propulso.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/slick.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/colorbox.css" rel="stylesheet" type="text/css" />