<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
<div id="extra-footer-top"></div>

<footer class="footer">

    <div class="container">

        <div class="row-menus row">
            <div class="col-inst-duvidas col-xs-12 col-sm-4">
                <vtex.cmc:newsletterOptIn/>
            </div><!-- .col-inst-duvidas -->
            <div class="col-atendimento-social col-xs-12 col-sm-4">
                <h4>Síguenos</h4>
                <ul class="list-inline sociales">
                    <li><a href="http://www.vimeo.com/hakahonu/" alt="Vimeo" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                    <li><a href="http://www.facebook.com/hakahonuchile/" alt="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/hakahonuchile/?hl=es" alt="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <ul class="list-inline">
                    <li><a href="http://www.hakahonu.cl/institucional/tiendas" alt="Tiendas">Tiendas</a></li>
                    <li><span>/</span></li>
                    <li><a href="http://www.hakahonu.cl/institucional/politicas-de-compra" alt="Políticas">Políticas</a></li>
                    <li><span>/</span></li>
                    <li><a href="?lid=3b032c64-e086-47e8-aa6f-77fe8c931ca2" alt="Contacto">Contacto</a></li>
                </ul>
            </div><!-- .col-atendimento-social  -->
            
            <div class="col-newletter col-xs-12 col-sm-4">
                <a href="http://tracking.hakahonu.cl/" class="btn btn-black">BUSCAR PEDIDO</a>
                <a href="http://premium.signature.cl/boletas" class="btn btn-black">BUSCAR BOLETA</a>
            </div><!-- .col-newletter  -->
            <div class="col-sm-12 text-center logos-partner">
                <p><img src="/arquivos/new-logobk-vtex.png" alt="Vtex" title="Vtex"/>
                <a href="http://www.propulso.cl" target="_blank" title="Propulso"><img src="/arquivos/new-logobk-propulso.png" alt="Propulso" /></a></p>
            </div>
        </div><!-- .row-menus -->

    </div><!-- .container -->

</footer><!-- .footer -->

<div id="extra-footer-middle"></div>

<div class="copy-right text-center">
    <div class="container">
        <ul class="devs list-inline">
            <li>
                <a href="http://www.vtex.com/" target="_Blank">
                    <img src="/arquivos/logo-vtex.png" alt="VTEX" class="img-responsive" />
                </a>
            </li>
            <li>
                <a href="http://integrando.se/" target="_Blank">
                    <svg width="118px" height="21px" viewBox="0 0 118 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.4 (15575) - http://www.bohemiancoding.com/sketch -->
                        <title>logo-integrandose</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Home---Tablet" sketch:type="MSArtboardGroup" transform="translate(-418.000000, -1832.000000)">
                                <g id="Créditos" sketch:type="MSLayerGroup" transform="translate(315.000000, 1829.000000)">
                                    <g id="logo-integrandose" transform="translate(103.000000, 3.000000)" sketch:type="MSShapeGroup">
                                        <g id="integrando" fill="#1D496D">
                                            <path d="M14.330474,12.0225 C14.330474,11.97 14.330474,11.89125 14.3571106,11.8125 L14.889842,8.79375 C14.9431151,8.4 14.9963883,7.95375 14.9963883,7.48125 C14.9963883,7.00875 14.889842,6.58875 14.6501129,6.22125 C14.3038375,5.64375 13.5047404,5.355 12.3060948,5.355 C11.1074492,5.355 10.1218962,5.8275 9.3227991,6.79875 L9.53589165,5.64375 L6.39277652,5.64375 L5.00767494,13.335 L5.06094808,12.39 C4.82121896,12.52125 4.55485327,12.57375 4.23521445,12.57375 C3.83566591,12.57375 3.64920993,12.39 3.64920993,12.04875 C3.64920993,11.99625 3.64920993,11.9175 3.6758465,11.83875 L4.79458239,5.64375 L1.41173815,5.64375 L0.213092551,12.285 C0.159819413,12.6 0.133182844,12.9675 0.133182844,13.3875 C0.133182844,13.8075 0.23972912,14.20125 0.479458239,14.56875 C0.825733634,15.12 1.6248307,15.3825 2.8234763,15.3825 C3.54266366,15.3825 4.18194131,15.1725 4.76794582,14.7525 L4.71467269,15.09375 L8.09751693,15.09375 L9.21625282,8.82 C9.56252822,8.42625 10.0419865,8.21625 10.5747178,8.21625 C11.1340858,8.21625 11.4004515,8.505 11.4004515,9.05625 C11.4004515,9.21375 11.3738149,9.42375 11.3471783,9.66 L10.8677201,12.285 C10.814447,12.57375 10.7878104,12.8625 10.7878104,13.125 C10.7878104,14.62125 11.6934537,15.35625 13.5047404,15.35625 C14.3038375,15.35625 15.0230248,15.09375 15.6356659,14.595 L15.7422122,12.36375 C15.5024831,12.495 15.2361174,12.5475 14.9164786,12.5475 C14.51693,12.5475 14.330474,12.39 14.330474,12.0225 L14.330474,12.0225 Z" id="Shape"></path>
                                            <path d="M3.46275395,3.8325 C4.26185102,3.8325 4.8744921,3.64875 5.24740406,3.255 C5.62031603,2.8875 5.80677201,2.28375 5.80677201,1.44375 C5.80677201,0.4725 5.24740406,2.97539771e-14 4.12866817,2.97539771e-14 C3.32957111,2.97539771e-14 2.74356659,0.18375 2.37065463,0.5775 C1.99774266,0.97125 1.81128668,1.575 1.81128668,2.415 C1.81128668,3.36 2.37065463,3.8325 3.46275395,3.8325 L3.46275395,3.8325 Z" id="Shape"></path>
                                            <path d="M42.5386005,5.6175 L42.4320542,6.2475 C41.9792325,5.67 41.1268623,5.355 39.9015801,5.355 C38.676298,5.355 37.6641084,5.69625 36.8916479,6.405 C36.1191874,7.11375 35.6397291,8.05875 35.4266366,9.21375 L35.027088,11.52375 C34.9738149,11.9175 34.9205418,12.285 34.9205418,12.6 C34.9205418,13.93875 35.4799097,14.77875 36.6252822,15.14625 C35.1336343,15.98625 34.3878104,17.01 34.3878104,18.165 C34.3878104,18.9525 34.6808126,19.5825 35.2668172,20.08125 C35.8528217,20.55375 36.8383747,20.81625 38.1702032,20.81625 C39.5020316,20.81625 40.7006772,20.34375 41.7395034,19.3725 C42.7783296,18.40125 43.4442438,17.08875 43.737246,15.435 L45.4952596,5.67 L42.5386005,5.6175 L42.5386005,5.6175 Z M40.3277652,15.67125 C40.0613995,17.22 39.5020316,17.98125 38.6230248,17.98125 C38.3566591,17.98125 38.11693,17.9025 37.9837472,17.745 C37.8239278,17.5875 37.7440181,17.3775 37.7440181,17.115 C37.7440181,16.24875 38.676298,15.3825 40.5142212,14.5425 L40.3277652,15.67125 L40.3277652,15.67125 Z M40.9936795,11.97 C40.6474041,12.3375 40.2478555,12.52125 39.7683973,12.52125 C39.2889391,12.52125 38.9693002,12.41625 38.7562077,12.20625 C38.5697517,11.99625 38.4632054,11.78625 38.4632054,11.57625 C38.4632054,11.36625 38.4632054,11.20875 38.489842,11.0775 L38.7562077,9.6075 C38.8361174,9.16125 39.0225734,8.82 39.3155756,8.5575 C39.6085779,8.295 40.0081264,8.16375 40.5408578,8.16375 C41.0735892,8.16375 41.4198646,8.32125 41.6063205,8.6625 L40.9936795,11.97 L40.9936795,11.97 Z" id="Shape"></path>
                                            <path d="M84.4379233,12.04875 C84.4379233,11.97 84.4379233,11.89125 84.4645598,11.8125 L86.5688488,0.1575 L83.1593679,0.1575 L82.1471783,5.90625 C81.6677201,5.565 81.0018059,5.38125 80.1494357,5.38125 C78.7909707,5.38125 77.7255079,5.7225 76.979684,6.43125 C76.2072235,7.14 75.7277652,8.085 75.5146727,9.24 L75.0884876,11.55 C75.0352144,11.89125 75.0085779,12.18 74.9819413,12.46875 C74.7954853,12.52125 74.6090293,12.57375 74.3959368,12.57375 C73.9963883,12.57375 73.8099323,12.39 73.8099323,12.04875 C73.8099323,11.99625 73.8099323,11.9175 73.8365688,11.83875 L74.3693002,8.82 C74.4225734,8.42625 74.4758465,7.98 74.4758465,7.5075 C74.4758465,7.035 74.3693002,6.615 74.1295711,6.2475 C73.7832957,5.67 72.9841986,5.38125 71.785553,5.38125 C70.5869074,5.38125 69.6013544,5.85375 68.8022573,6.825 L69.0153499,5.67 L65.8722348,5.67 L64.4604966,13.4925 L64.5137698,12.39 C64.2740406,12.52125 63.9810384,12.57375 63.634763,12.57375 C63.2884876,12.57375 63.1020316,12.41625 63.1020316,12.075 C63.1020316,11.99625 63.1020316,11.9175 63.1286682,11.83875 L64.2474041,5.64375 L61.2108352,5.64375 L61.1042889,6.22125 C60.6781038,5.67 59.8257336,5.38125 58.6004515,5.38125 C57.3751693,5.38125 56.3629797,5.7225 55.6171558,6.43125 C55.0844244,6.93 54.6848758,7.53375 54.4185102,8.26875 C54.4451467,8.05875 54.4717833,7.84875 54.4717833,7.63875 C54.4717833,6.93 54.2586907,6.37875 53.8325056,5.95875 C53.4063205,5.565 52.7404063,5.355 51.8880361,5.355 C50.8225734,5.355 49.8902935,5.88 49.1444695,6.95625 L49.3841986,5.64375 L46.214447,5.64375 L44.5097065,15.09375 L47.8925508,15.09375 L49.0112867,8.8725 C49.3309255,8.42625 49.730474,8.21625 50.1832957,8.21625 C50.4496614,8.21625 50.662754,8.295 50.8225734,8.4525 C50.9823928,8.61 51.0623025,8.79375 51.0623025,9.03 C51.0623025,9.47625 50.9024831,9.84375 50.5562077,10.15875 L53.56614,10.15875 L53.7792325,9.89625 C53.9124153,9.7125 54.0455982,9.45 54.178781,9.10875 C54.178781,9.16125 54.1521445,9.24 54.1521445,9.2925 L53.7259594,11.6025 C53.6726862,11.97 53.6194131,12.3375 53.6194131,12.6525 C53.6194131,14.49 54.7115124,15.435 56.8957111,15.435 C58.1742664,15.435 59.1598194,14.91 59.8257336,13.86 C59.985553,14.91 60.7846501,15.435 62.2496614,15.435 C62.9688488,15.435 63.634763,15.225 64.2207675,14.805 L64.1674944,15.1725 L67.5503386,15.1725 L68.6690745,8.89875 C69.0153499,8.505 69.4948081,8.295 70.0275395,8.295 C70.5869074,8.295 70.8532731,8.58375 70.8532731,9.135 C70.8532731,9.2925 70.8266366,9.5025 70.8,9.73875 L70.3205418,12.36375 C70.2672686,12.6525 70.2406321,12.94125 70.2406321,13.20375 C70.2406321,14.7 71.1462754,15.435 72.9575621,15.435 C73.7566591,15.435 74.4758465,15.1725 75.0884876,14.67375 L75.1151242,13.8075 C75.5146727,14.88375 76.5268623,15.435 78.2049661,15.435 C79.4835214,15.435 80.4690745,14.91 81.1349887,13.86 C81.2948081,14.91 82.0939052,15.435 83.5589165,15.435 C84.3580135,15.435 85.0772009,15.1725 85.7164786,14.67375 L85.8230248,12.4425 C85.5832957,12.57375 85.2902935,12.62625 84.9440181,12.62625 C84.6243792,12.5475 84.4379233,12.39 84.4379233,12.04875 L84.4379233,12.04875 Z M59.6925508,11.97 C59.3462754,12.3375 58.9467269,12.52125 58.4672686,12.52125 C57.9878104,12.52125 57.6681716,12.41625 57.455079,12.20625 C57.268623,11.99625 57.1620767,11.78625 57.1620767,11.57625 C57.1620767,11.36625 57.1620767,11.20875 57.1887133,11.0775 L57.455079,9.6075 C57.6148984,8.63625 58.2275395,8.16375 59.2397291,8.16375 C59.7724605,8.16375 60.1187359,8.32125 60.2785553,8.6625 L59.6925508,11.97 L59.6925508,11.97 Z M81.0284424,11.97 C80.682167,12.3375 80.2826185,12.52125 79.8031603,12.52125 C79.323702,12.52125 79.0040632,12.41625 78.7909707,12.20625 C78.6045147,11.99625 78.4979684,11.78625 78.4979684,11.57625 C78.4979684,11.36625 78.4979684,11.20875 78.524605,11.0775 L78.7909707,9.6075 C78.9507901,8.63625 79.5634312,8.16375 80.5756208,8.16375 C81.1083521,8.16375 81.4546275,8.32125 81.614447,8.6625 L81.0284424,11.97 L81.0284424,11.97 Z" id="Shape"></path>
                                            <path d="M31.1914221,11.62875 C31.138149,11.89125 31.0316027,12.1275 30.7918736,12.31125 C30.578781,12.495 30.2857788,12.6 29.96614,12.6 C29.1137698,12.6 28.6609481,12.2325 28.6609481,11.52375 C28.6609481,11.3925 28.6609481,11.26125 28.7142212,11.10375 L28.7941309,10.6575 L34.8939052,10.6575 L35.1336343,9.26625 C35.1869074,8.925 35.213544,8.61 35.213544,8.32125 C35.213544,6.32625 33.8817156,5.32875 31.2180587,5.32875 C29.6465011,5.32875 28.3945824,5.67 27.4356659,6.3525 C26.4767494,7.035 25.8907449,8.00625 25.6776524,9.24 L25.4379233,10.57875 L22.1882619,10.57875 C22.0817156,11.15625 21.8952596,11.62875 21.6022573,11.99625 C21.3092551,12.3375 20.9629797,12.52125 20.5367946,12.52125 C19.7376975,12.52125 19.338149,12.10125 19.338149,11.2875 C19.338149,11.10375 19.3647856,10.8675 19.4180587,10.63125 L19.8176072,8.4 L25.3047404,8.4 L25.8108352,5.6175 L20.323702,5.6175 L20.9097065,2.33625 L17.2604966,3.8325 L15.9020316,11.445 C15.8487585,11.76 15.8221219,12.04875 15.8221219,12.3375 C15.8221219,13.1775 16.061851,13.83375 16.5679458,14.3325 C17.23386,15.015 18.3525959,15.35625 19.8975169,15.35625 C22.6943567,15.35625 24.4790068,14.1225 25.2514673,11.62875 L25.2514673,11.68125 C25.1981941,11.97 25.1715576,12.25875 25.1715576,12.52125 C25.1715576,14.41125 26.5566591,15.35625 29.3268623,15.35625 C32.3634312,15.35625 34.0948081,14.1225 34.5209932,11.68125 L31.1914221,11.62875 L31.1914221,11.62875 Z M29.6465011,8.32125 C29.96614,8.085 30.3124153,7.95375 30.6853273,7.95375 C31.0582393,7.95375 31.3512415,8.05875 31.5110609,8.2425 C31.6708804,8.42625 31.7774266,8.63625 31.7774266,8.82 C31.7774266,9.00375 31.7507901,9.21375 31.6975169,9.45 L29.0072235,9.45 C29.1137698,8.95125 29.3534989,8.58375 29.6465011,8.32125 L29.6465011,8.32125 Z" id="Shape"></path>
                                            <path d="M92.9083521,13.93875 C92.9083521,12.8625 93.1480813,12.075 93.6009029,11.57625 C94.0537246,11.0775 94.772912,10.84125 95.758465,10.84125 L96.0514673,9.24 C96.1047404,8.89875 96.1580135,8.58375 96.1580135,8.295 C96.1580135,7.42875 95.8650113,6.74625 95.3056433,6.27375 C94.586456,5.67 93.4943567,5.355 92.0559819,5.355 C88.8329571,5.355 86.9683973,6.64125 86.5155756,9.24 L86.0893905,11.55 C86.0361174,11.9175 85.9828442,12.25875 85.9828442,12.5475 C85.9828442,13.41375 86.2492099,14.07 86.7819413,14.49 C87.5011287,15.0675 88.6198646,15.35625 90.1647856,15.35625 C91.310158,15.35625 92.2957111,15.19875 93.0948081,14.88375 C92.9882619,14.62125 92.9083521,14.30625 92.9083521,13.93875 L92.9083521,13.93875 Z M92.5887133,9.63375 L92.3223476,11.10375 C92.2424379,11.52375 92.0559819,11.89125 91.7629797,12.18 C91.4699774,12.46875 91.0970655,12.62625 90.6708804,12.62625 C90.2446953,12.62625 89.9250564,12.52125 89.765237,12.285 C89.6054176,12.04875 89.4988713,11.83875 89.4988713,11.62875 C89.4988713,11.41875 89.4988713,11.26125 89.5255079,11.13 L89.7918736,9.66 C89.8717833,9.1875 90.0582393,8.82 90.3512415,8.53125 C90.6442438,8.2425 91.0171558,8.11125 91.4433409,8.11125 C91.869526,8.11125 92.1891648,8.2425 92.3489842,8.47875 C92.5088036,8.715 92.6153499,8.95125 92.6153499,9.16125 C92.6419865,9.31875 92.6153499,9.5025 92.5887133,9.63375 L92.5887133,9.63375 Z" id="Shape"></path>
                                        </g>
                                        <path d="M105.720542,9.8175 C105.18781,9.68625 104.655079,9.6075 104.122348,9.52875 C103.589616,9.47625 103.136795,9.37125 102.763883,9.26625 C102.390971,9.16125 102.204515,9.00375 102.204515,8.7675 C102.204515,8.16375 102.710609,7.875 103.696163,7.875 C104.015801,7.875 104.308804,7.9275 104.521896,8.0325 C104.734989,8.1375 104.841535,8.295 104.841535,8.47875 C104.841535,8.6625 104.788262,8.79375 104.681716,8.8725 L107.958014,8.8725 C108.224379,8.505 108.357562,8.11125 108.357562,7.665 C108.357562,6.11625 106.999097,5.32875 104.282167,5.32875 C102.524153,5.32875 101.165688,5.64375 100.233409,6.3 C99.3011287,6.93 98.8216704,7.84875 98.8216704,9.05625 C98.8216704,9.66 99.0081264,10.15875 99.3810384,10.5525 C99.7539503,10.92 100.206772,11.1825 100.739503,11.2875 C101.272235,11.3925 101.804966,11.4975 102.364334,11.55 C102.897065,11.6025 103.349887,11.655 103.722799,11.73375 C104.095711,11.8125 104.282167,11.94375 104.282167,12.1275 C104.282167,12.39 104.175621,12.6 103.962528,12.67875 C103.749436,12.78375 103.40316,12.83625 102.923702,12.83625 C102.444244,12.83625 102.071332,12.7575 101.831603,12.62625 C101.591874,12.495 101.485327,12.3375 101.511964,12.15375 L98.1823928,12.20625 C98.1557562,12.41625 98.1291196,12.6525 98.1291196,12.8625 C98.1291196,13.5975 98.3954853,14.175 98.9282167,14.595 C99.5941309,15.12 100.792777,15.40875 102.47088,15.40875 C104.148984,15.40875 105.454176,15.12 106.333183,14.56875 C107.21219,14.0175 107.665011,13.1775 107.665011,12.10125 C107.665011,11.4975 107.478555,10.99875 107.105643,10.63125 C106.706095,10.185 106.253273,9.94875 105.720542,9.8175 L105.720542,9.8175 Z M113.951242,5.32875 C112.379684,5.32875 111.127765,5.67 110.168849,6.3525 C109.209932,7.035 108.623928,8.00625 108.410835,9.24 L107.98465,11.68125 C107.931377,11.97 107.90474,12.25875 107.90474,12.52125 C107.90474,14.41125 109.289842,15.35625 112.060045,15.35625 C115.096614,15.35625 116.827991,14.1225 117.254176,11.68125 L113.951242,11.62875 C113.924605,11.89125 113.791422,12.1275 113.551693,12.31125 C113.3386,12.495 113.045598,12.6 112.725959,12.6 C111.873589,12.6 111.420767,12.2325 111.420767,11.52375 C111.420767,11.3925 111.420767,11.26125 111.447404,11.10375 L111.527314,10.6575 L117.600451,10.6575 L117.840181,9.26625 C117.893454,8.925 117.92009,8.61 117.92009,8.32125 C117.973363,6.32625 116.641535,5.32875 113.951242,5.32875 L113.951242,5.32875 Z M114.457336,9.45 L111.767043,9.45 C111.873589,8.95125 112.113318,8.58375 112.406321,8.32125 C112.725959,8.085 113.072235,7.95375 113.445147,7.95375 C113.818059,7.95375 114.111061,8.05875 114.27088,8.2425 C114.4307,8.42625 114.537246,8.63625 114.537246,8.82 C114.537246,9.03 114.510609,9.24 114.457336,9.45 L114.457336,9.45 Z M96.0248307,11.52375 C95.2257336,11.52375 94.6130926,11.7075 94.2401806,12.10125 C93.8672686,12.495 93.6808126,13.09875 93.6808126,13.93875 C93.6808126,14.88375 94.2401806,15.35625 95.3322799,15.35625 C96.131377,15.35625 96.7440181,15.1725 97.11693,14.77875 C97.489842,14.41125 97.676298,13.8075 97.676298,12.9675 C97.676298,11.99625 97.11693,11.52375 96.0248307,11.52375 L96.0248307,11.52375 Z" id="_x2E_se" fill="#AAB746"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
        </ul><!-- .devs -->
        <p>
            <vtex.cmc:copyright />
        </p>
    </div>
</div><!-- .copy-right -->
<div id="extra-footer-bottom"></div>