<div id="extra-header-top"></div>

<header class="header-container navbar-fixed-top">
<div id="contador-header"></div>
    <!--<div class="supra-header">
        <div class="container">
            <div class="row">
              <div class="col-sm-4">
                    <ul class="pull-right">
                      <li><a href="#">Texto uno</a></li>
                      <li><a href="#">Texto dos</a></li>
                      <li><a href="#">Texto tres</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-center">
                  <h6>Envío gratis! por compras superiores a $50.000 pesos</h6>
                </div>
                <div class="col-sm-4">
                    <ul class="pull-left">
                      <li><a href="#">Texto uno</a></li>
                      <li><a href="#">Texto dos</a></li>
                      <li><a href="#">Texto tres</a></li>
                    </ul>
                </div>
          </div>
        </div>
    </div>-->
    <div class="header">
        <div class="container">
            <div class="row">

                <div class="button-menu-xs col-xs-3 col-sm-1 visible-xs">
                    <button class="btn btn-default btn-open-menu-xs btn-menu-xs" data-id="#menu-mobile">
                        <svg version="1.1" id="Layer_1" x="0px" y="0px" width="24px" height="24px" viewBox="286 221.159 40 40" enable-background="new 286 221.159 40 40" xml:space="preserve">
                        <g>
                            <line fill="none" stroke="#262626" stroke-linecap="round" stroke-miterlimit="10" x1="287.428" y1="227.004" x2="324.571" y2="227.004"/>
                            <line fill="none" stroke="#262626" stroke-linecap="round" stroke-miterlimit="10" x1="287.428" y1="241.388" x2="324.571" y2="241.388"/>
                            <line fill="none" stroke="#262626" stroke-linecap="round" stroke-miterlimit="10" x1="287.428" y1="255.531" x2="324.571" y2="255.531"/>
                        </g>
                        </svg>
                    </button>
                    <div id="menu-mobile" style="display: none;">
                      <div id="menu-mobile-container"> 
                        <div class="header-menu-mobile visible-xs">
                            <span class="close-menu pull-right btn-menu-xs" data-id="#menu-mobile"><i class="fa fa-times"></i></span>
                            <span class="icone-menu"><img src="/arquivos/logo-hakahonu-go.png" alt="Logo Hakahonu" title="Hakahonu" class="logo-go"/></span>
                        </div>
                        <div class="recebe-menu">
                            <!-- RECEBE MENU MOBILE -->
                        </div>
                        <!--icono buscador -->
                        <svg version="1.1" width="15px" height="15px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="66.229 -220.074 71.79 71.79" enable-background="new 66.229 -220.074 71.79 71.79" xml:space="preserve">
                        <g>
                          <circle fill="none" stroke="#262626" stroke-width="3.5" stroke-miterlimit="10" cx="97.706" cy="-188.086" r="27.86"/>
                          
                            <line fill="none" stroke="#262626" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="117.408" y1="-168.388" x2="134.401" y2="-152.413"/>
                        </g>
                        </svg>
                        <vtex.cmc:fullTextSearchBox/>
                        <div id='cssmenu'>
                            <ul>
                                <li><a href='#'><span>Mujer</span></a>
                                    <ul>
                                      <li><a href="http://www.hakahonu.cl/mujer/chaquetas?O=OrderByReleaseDateDESC">CHAQUETAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/polerones?O=OrderByReleaseDateDESC">POLERONES</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/fleece?O=OrderByReleaseDateDESC">FLEECE</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/camisas?O=OrderByReleaseDateDESC">CAMISAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/pantalones?O=OrderByReleaseDateDESC">PANTALONES</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/shorts?O=OrderByReleaseDateDESC">SHORTS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/poleras?O=OrderByReleaseDateDESC">POLERAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/yoga-fitness?O=OrderByReleaseDateDESC">MOVIMIENTO</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/zapatos">ZAPATOS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mochilas-y-bolsos">MOCHILAS Y BOLSOS</a></li>
                                      <li class="naranja"><a href="/busca/?fq=H:160">SALE</a></li>
                                    </ul>
                                </li>
                                <li><a href='#'><span>Hombre</span></a>
                                    <ul>
                                      <li><a href="http://www.hakahonu.cl/hombre/chaquetas?O=OrderByReleaseDateDESC">CHAQUETAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/polerones?O=OrderByReleaseDateDESC">POLERONES</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/fleece?O=OrderByReleaseDateDESC">FLEECE</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/camisas?O=OrderByReleaseDateDESC">CAMISAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/pantalones?O=OrderByReleaseDateDESC">PANTALONES</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/shorts?O=OrderByReleaseDateDESC">SHORTS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/poleras?O=OrderByReleaseDateDESC">POLERAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/yoga-fitness?O=OrderByReleaseDateDESC">MOVIMIENTO</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/zapatos">ZAPATOS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/wetsuits">WETSUITS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mochilas-y-bolsos">MOCHILAS Y BOLSOS</a></li>
                                      <li class="naranja"><a href="/busca/?fq=H:160">SALE</a></li>
                                    </ul>
                                </li>
                                <li><a href='http://www.hakahonu.cl/lookbook'><span>LookBook</span></a></li>
                                <li><a href='#'><span>Hogar</span></a>
                                    <ul>
                                      <li><a href="http://www.hakahonu.cl/videos">VIDEOS</a></li>
                                      <li><a href="http://www.hakahonu.cl/momentos">MOMENTOS</a></li>
                                      <li><a href="http://www.hakahonu.cl/familia">FAMILIA</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <ul class="movil-institucional">
                            <li><a href="?lid=3b032c64-e086-47e8-aa6f-77fe8c931ca2" alt="Contacto">Contacto</a></li>
                            <li><a href="?lid=bc673cdf-8078-4471-98d9-42c8c78a5b91" alt="Tiendas">Tiendas</a></li>
                            <li><a href="?lid=844ea512-dcdf-4878-b131-8a397c97f103" alt="Políticas">Políticas</a></li>
                        </ul>
                      </div>
                       <div class="menu-filtros">
                             <div class="header-menu-mobile">
                                <span> FILTRAR </span>
                                <button class="btn btn-default btn-open-menu-xs btn-menu-xs pull-right " data-id="#menu-mobile">
                                    <strong>X</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div><!-- .button-menu-xs -->

                <div class="logo col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <a href="/" title="Hakahoku" class="link-logo">
                        <img src="/arquivos/logo-hakahonu.png" alt="Logo Hakahonu" title="Hakahonu" class="logo hidden-xs" />
                        <img src="/arquivos/logo-hakahonu-go.png" alt="Logo Hakahonu" title="Hakahonu" class="logo-go"/>
                    </a>
                </div><!-- .logo -->

                <div class="mini-cart mini-cart-xs text-right col-xs-3 visible-xs">
                    <a title="Carrinho de Compras" href="/checkout/#/cart" class="btn btn-default">
                        <!-- icono carro de compra versión movil-->
                        <svg version="1.1" width="28px" height="28px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="311.085 -220.074 71.79 71.79" enable-background="new 311.085 -220.074 71.79 71.79" xml:space="preserve">
                        <g>
                          
                            <path fill="#262626" stroke="#262626" stroke-width="0.9145" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M356.302-200.494c0-0.065,0.013-0.126,0.019-0.189h-18.344c0.007,0.063,0.023,0.123,0.023,0.189c0,0.614-0.317,1.156-0.799,1.484
                            h19.898C356.619-199.338,356.302-199.879,356.302-200.494z"/>
                          
                            <path fill="#262626" stroke="#262626" stroke-width="0.9145" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M369.706-171.744v-28.939h-9.688c0.007,0.063-3.697-0.065-3.697,0c0,0.615-0.772,1.344-1.254,1.673h12.639v27.266v0.067
                            l0.007,0.065l1.015,10.637h-43.411l1.015-10.637l0.007-0.065v-0.067v-27.266h12.902c-0.482-0.329-1.324-1.343-1.324-1.958
                            c0-0.065-3.645,0.348-3.638,0.285h-9.941v28.939l-1.187,12.442h47.743L369.706-171.744z"/>
                          
                            <path fill="#262626" stroke="#262626" stroke-width="0.9145" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M337.256-201.936c0.473-4.837,4.68-8.633,9.788-8.633c5.167,0,9.406,3.885,9.797,8.801c-0.29,0.285-0.475,0.665-0.52,1.085h3.697
                            c-0.06-0.552-0.362-1.034-0.817-1.325c-0.516-6.071-5.766-10.861-12.157-10.861c-6.45,0-11.735,4.88-12.168,11.033
                            c-0.332,0.292-0.549,0.698-0.599,1.153h3.7C337.922-201.193,337.657-201.641,337.256-201.936z"/>
                        </g>
                        </svg>
                        
                        <span class="badge bg-danger mini-cart-qty-admake">0</span>
                    </a>
                </div><!-- .mini-cart-xs -->
                <div class="col-md-10 hidden-xs">
                    <ul class="list-inline sociales pull-right">
                        <li><a href="http://www.vimeo.com/hakahonu/" alt="Vimeo" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                        <li><a href="http://www.facebook.com/hakahonuchile/" alt="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/hakahonuchile/?hl=es" alt="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>                    
                    <ul class="list-inline pull-right institucional">
                        <li><a href="http://www.hakahonu.cl/institucional/tiendas" alt="Tiendas">Tiendas /</a></li>
                        <li><a href="http://www.hakahonu.cl/institucional/politicas-de-compra" alt="Políticas">Políticas /</a></li>
                        <li><a href="?lid=3b032c64-e086-47e8-aa6f-77fe8c931ca2" alt="Contacto">Contacto</a></li>
                    </ul>

                </div>
                <div class="menu col-xs-12 col-sm-3 col-md-7 col-lg-7 hidden-xs">
                    <ul class="nav nav-pills navbar-right">
                        <li class="tienda">
                            <div class="dropdown">
                              <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tienda</a>
                              <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li class="col-md-3">
                                    <span class="titulo-negro"><a href="http://www.hakahonu.cl/mujer?O=OrderByReleaseDateDESC">Mujer</a></span>
                                    <ul>
                                      <!--<li><a tabindex="-1" href="#">LO NUEVO</a></li>-->
                                      <li><a href="http://www.hakahonu.cl/mujer/chaquetas?O=OrderByReleaseDateDESC">CHAQUETAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/polerones?O=OrderByReleaseDateDESC">POLERONES</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/fleece?O=OrderByReleaseDateDESC">FLEECE</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/camisas?O=OrderByReleaseDateDESC">CAMISAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/pantalones?O=OrderByReleaseDateDESC">PANTALONES</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/shorts?O=OrderByReleaseDateDESC">SHORTS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/poleras?O=OrderByReleaseDateDESC">POLERAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/yoga-fitness?O=OrderByReleaseDateDESC">MOVIMIENTO</a></li>
                                      <li><a href="http://www.hakahonu.cl/mujer/zapatos">ZAPATOS</a></li>
                                    </ul>
                                  </li>
                                  <li class="col-md-3">
                                    <span class="titulo-negro"><a href="http://www.hakahonu.cl/hombre?O=OrderByReleaseDateDESC">Hombre</a></span>
                                    <ul>
                                      <!--<li><a tabindex="-1" href="#">LO NUEVO</a></li>-->
                                      <li><a href="http://www.hakahonu.cl/hombre/chaquetas?O=OrderByReleaseDateDESC">CHAQUETAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/polerones?O=OrderByReleaseDateDESC">POLERONES</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/fleece?O=OrderByReleaseDateDESC">FLEECE</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/camisas?O=OrderByReleaseDateDESC">CAMISAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/pantalones?O=OrderByReleaseDateDESC">PANTALONES</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/shorts?O=OrderByReleaseDateDESC">SHORTS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/poleras?O=OrderByReleaseDateDESC">POLERAS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/yoga-fitness?O=OrderByReleaseDateDESC">MOVIMIENTO</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/zapatos">ZAPATOS</a></li>
                                      <li><a href="http://www.hakahonu.cl/hombre/wetsuits">WETSUITS</a></li>
                                    </ul>
                                  </li>
                                  <li class="col-md-3">
                                    <span class="titulo-negro"><a href="/busca/?fq=H:180">Zapatos</a></span>
                                    <ul>
                                      <!--<li><a tabindex="-1" href="#">LO NUEVO</a></li>-->
                                      <li><a href="/hombre/180?map=c,productClusterIds">HOMBRE</a></li>
                                      <li><a href="/mujer/180?map=c,productClusterIds">MUJER</a></li>
                                    </ul>
                                    <span class="titulo-negro"><a href="/hombre/wetsuits">WETSUITS</a></span>
                                     <span class="titulo-negro"><a href="/mochilas-y-bolsos">MOCHILAS Y BOLSOS</a></span>
                                  </li>
                                   
                                  <li class="col-md-3">
                                    <span class="titulo-naranja"><a href="/busca/?fq=H:160">SALE</a></span>
                                    <ul>
                                      <!--<li><a tabindex="-1" href="#">LO NUEVO</a></li>-->
                                      <li><a href="/hombre/160?map=c,productClusterIds">HOMBRE</a></li>
                                      <li><a href="/mujer/160?map=c,productClusterIds">MUJER</a></li>
                                    </ul>
                                      <!--img src="/arquivos/menu_400x400_2octubre.jpg" class="img-responsive" /-->
                                      <!--span>Nueva colección >></span-->
                                  </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="http://www.hakahonu.cl/lookbook">LOOKBOOK</a></li>
                        <li>
                            <div class="dropdown">
                              <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hogar</a>
                              <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="http://www.hakahonu.cl/videos">VIDEOS</a></li>
                                <li><a href="http://www.hakahonu.cl/momentos">MOMENTOS</a></li>
                                <li><a href="http://www.hakahonu.cl/familia">FAMILIA</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div><!-- .nav -->
                <div class="search col-xs-12 col-sm-5 col-md-2 col-lg-2">
                        <!--icono buscador -->
                        <svg version="1.1" width="15px" height="15px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="66.229 -220.074 71.79 71.79" enable-background="new 66.229 -220.074 71.79 71.79" xml:space="preserve">
                        <g>
                          <circle fill="none" stroke="#262626" stroke-width="3.5" stroke-miterlimit="10" cx="97.706" cy="-188.086" r="27.86"/>
                          
                            <line fill="none" stroke="#262626" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="117.408" y1="-168.388" x2="134.401" y2="-152.413"/>
                        </g>
                        </svg>
                    <vtex.cmc:fullTextSearchBox/>
                </div><!-- .search -->
    
                
                <div class="mini-cart col-mini-cart col-xs-1 col-sm-1 col-md-1 col-lg-1 hidden-xs nopad">
                    <a title="Carrinho de Compras" href="/checkout/#/cart" class="">
                        <svg version="1.1" width="15px" height="15px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="311.085 -220.074 71.79 71.79" enable-background="new 311.085 -220.074 71.79 71.79" xml:space="preserve">
                        <g>
                          
                            <path fill="#262626" stroke="#262626" stroke-width="0.9145" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M356.302-200.494c0-0.065,0.013-0.126,0.019-0.189h-18.344c0.007,0.063,0.023,0.123,0.023,0.189c0,0.614-0.317,1.156-0.799,1.484
                            h19.898C356.619-199.338,356.302-199.879,356.302-200.494z"/>
                          
                            <path fill="#262626" stroke="#262626" stroke-width="0.9145" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M369.706-171.744v-28.939h-9.688c0.007,0.063-3.697-0.065-3.697,0c0,0.615-0.772,1.344-1.254,1.673h12.639v27.266v0.067
                            l0.007,0.065l1.015,10.637h-43.411l1.015-10.637l0.007-0.065v-0.067v-27.266h12.902c-0.482-0.329-1.324-1.343-1.324-1.958
                            c0-0.065-3.645,0.348-3.638,0.285h-9.941v28.939l-1.187,12.442h47.743L369.706-171.744z"/>
                          
                            <path fill="#262626" stroke="#262626" stroke-width="0.9145" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M337.256-201.936c0.473-4.837,4.68-8.633,9.788-8.633c5.167,0,9.406,3.885,9.797,8.801c-0.29,0.285-0.475,0.665-0.52,1.085h3.697
                            c-0.06-0.552-0.362-1.034-0.817-1.325c-0.516-6.071-5.766-10.861-12.157-10.861c-6.45,0-11.735,4.88-12.168,11.033
                            c-0.332,0.292-0.549,0.698-0.599,1.153h3.7C337.922-201.193,337.657-201.641,337.256-201.936z"/>
                        </g>
                        </svg>
                        <span class="hidden-sm mini-cart-label">Bolsa</span>
                        <span class="mini-cart-qty-admake">0</span>
                    </a>
                    <div id="mini-cart-admake-aux" class="hidden">
                        <vtex.cmc:miniCart />
                        <vtex.cmc:AmountItemsInCart />
                    </div><!-- #mini-cart-admake-aux -->
                    <div id="mini-cart-admake" style="display: none;">
                        <div class="mini-cart-header"></div>
                        <div class="mini-cart-itens">
                            <!-- recebe itens -->
                        </div>
                        <div class="mini-cart-footer">
                            <div class="mini-cart-totais">
                                <strong id="mini-cart-admake-total" class="pull-right"><!-- recebe valor total --></strong>
                                <span>Total</span>
                            </div>
                            <div class="mini-cart-botao">
                                <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div><!-- .mini-cart -->
                <div class="col-md-12"><hr /></div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .header -->

</header><!-- .header-container -->

<div id="extra-header-bottom"></div>

<div id="extra-banner-regua"></div>