/* ESTILOS PROPULSO.CL */

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300italic,300);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* GENERALES */
body { font-family: 'Open Sans Condensed', sans-serif; font-weight: 400; }
h2 { font-family: 'Poppins', sans-serif; }
h4 { }

/* HEADER */
.header .search .fulltext-search-box { border-top: none; border-right: none; border-left: none; border-radius: 0px; border-color: #262626; float: left; }
.header .search svg { float: left; margin: 8px 8px 0 0; }
.header .mini-cart svg { margin: 0 4px 0 0; }
.header .nav-pills .dropdown a,
.header .nav-pills li a { font-family: 'Poppins', sans-serif; text-transform: uppercase; letter-spacing: 0.02em; text-decoration: none; display: block; border-radius: 0; }
.header .dropdown-menu { background-color: rgba(255, 255, 255, .8); padding: 0; }
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover { background-color: transparent; color: #999; }
.dropdown-menu { border-radius: 0; }

/* SUPRA HEADER */
.supra-header { background: #c46a31; color: #fff; height: 40px; font-size: 1.1em;    /*display:none;*/ }
.supra-header ul li { float: left; padding: 11px 10px 0 10px; }
.supra-header a { color: #fff; border-bottom: 1px dotted #fff; text-decoration: none; }
.supra-header h4 { font-weight: 700; text-transform: uppercase; }
.supra-header a:hover { color: #eee; border-bottom-color: #eee; }

/* OVERLAY */
.overlay { height: 100%; width: 0; position: fixed; z-index: 99999999; top: 0; left: 0; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.9); overflow-x: hidden; transition: 0.5s; }
.overlay-content { position: relative; top: 25%; width: 100%; text-align: center; margin-top: 30px; }
.overlay a { padding: 8px; text-decoration: none; font-size: 36px; color: #818181; display: block; transition: 0.3s; }
.overlay a:hover,
.overlay a:focus { color: #f1f1f1; }
.overlay .closebtn { position: absolute; top: 20px; right: 45px; font-size: 60px; }
#streamButton { background: #262626; height: 50px; text-align: center; color: #fff; width: 100%; padding: 10px 10px; position: absolute; font-size: 15px; text-transform: uppercase; }
@media screen and (max-height:450px) {
    .overlay a { font-size: 20px }
    .overlay .closebtn { font-size: 40px; top: 15px; right: 35px; }
    .categorias-home-destacadas {padding: 0;} /*Jair*/
}

/* FOOTER */
footer { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/bg-footer.png); background-color: transparent; border-top: 1px #262626 solid; font-size: 1.2em; background-position: center; }
footer .col-atendimento-social .sociales li { border-radius: 20px; background-color: #000; width: 28px; height: 28px; font-size: 0.9em; text-align: center; padding-top: 3px; margin: 0 5px; }
footer .col-atendimento-social .sociales li a { color: #fff }
.footer .logos-partner img { margin: 50px 10px 0 10px; }
.footer .newsletter h3,
footer .newsletter p { display: none; }
.footer .newsletter input.newsletter-button-ok { background-color: #262626; color: #fff; padding: 0 12px; font-family: "Poppins", sans-serif; }
.footer .newsletter input#newsletterClientName { display: none; }
.footer .newsletter input#newsletterClientEmail { width: 200px; }
.footer .newsletter input { border-radius: 0px; border-color: #262626; padding-left: 10px; }
.footer h4 { font-size: 1em; margin: 15px 0 10px 0; text-transform: uppercase; letter-spacing: 0.1em; font-weight: 400; font-family: 'Poppins', sans-serif; }
.footer a:hover { color: #999; }

/* HOME */
.fullbanner.owl-carousel.owl-theme { padding-top: 15px; margin-bottom: 30px; }
.categorias-home-destacadas { text-align: center; margin-bottom: 20px;padding: 0 5%;} /*Jair*/
.categorias-home-destacadas h2 { font-size: 1.3em; font-weight: 700; text-transform: uppercase; letter-spacing: 0.1em; margin-bottom: 3px; }
.categorias-home-destacadas span { text-transform: uppercase; }
.categorias-home-destacadas .row div {margin: 0 0 20px 0;} /*Jair*/
.categorias-home-estamos,
.home .vitrine { text-align: center; }
.categorias-home-estamos h2,
.home .vitrine h2 { text-transform: uppercase; font-weight: 700; font-size: 1.3em; padding: 10px 0 8px 0; letter-spacing: 0.2em; border-bottom: solid 1px #262626; border-top: solid 1px #262626; line-height: 1.2em; margin-bottom: 30px; }
.categorias-home-estamos h3 { text-transform: uppercase; font-weight: 700; font-size: 1.2em; padding: 14px 5px 3px 5px; letter-spacing: 0.1em; margin: 0 0 10px 0; border-bottom: 3px solid #262626; display: inline-block; }
.categorias-home-estamos p { font-size: 1.1em; line-height: 1.4em; color: #000; font-weight: 300; text-align: justify; }
.galeria-instagram { text-align: center; }
.galeria-instagram h2 { text-transform: uppercase; font-weight: 700; font-size: 1.3em; padding: 10px 0 8px 0; letter-spacing: 0.2em; border-bottom: solid 1px #262626; border-top: solid 1px #262626; margin-bottom: 25px; }
.home span.out-of-stock,
.home span.price { display: none; }
.home .showcase-default { padding: 0; }

/* PRODUCTOS */
#box-bread-brumb li a { text-transform: uppercase; letter-spacing: 0.2em; font-size: .9em; }
.product-info .productDescription { margin-top: 20px; font-family: 'Open Sans', sans-serif; line-height: 1.6em; }
#product-page .prateleira .product-name { min-height: 17px; }
ul.thumbs img { width: 80px; }
#product-page .prateleira.vitrine { margin-top: 30px; }
#brand #caracteristicas th,
#brand #caracteristicas .Especificaciones,
#brand #caracteristicas .Tabla-de-Tallas,
#brand #caracteristicas h4,
td.Caracteristicas { display: none; }
.Temporada { padding: 5px; }
#brand #caracteristicas td.value-field.Intencion { font-size: 1.2em; font-style: italic; }
#tabla-tallas { color: #000; padding: 10px 0; display: block; text-decoration: underline; text-transform: uppercase; }
.product-details .seletor-sku { min-height: 74px; }
.product-details .price-box .economia-de { display: none; }
ul.topic.Color { float: right; text-align: left; }
ul.topic.Talla { float: left; text-align: left; }
ul.topic.Talla:before { content: "Talla:"; }
ul.topic.Color:before { content: "Color:"; display: block; padding: 0 0 0 5px; }
ul.topic.Color .select label { margin: 5px 0 0 5px; width: 40px; height: 40px; color: transparent;    /*border-color: transparent;*/ }

/* VITRINAS */
.prateleira .product-name a { font-size: 1em; text-transform: uppercase; color: #000; font-family: 'Poppins', sans-serif; font-weight: 700; letter-spacing: .1em; }
.prateleira .btn-add-buy-button-asynchronous { display: none; }

/* BANDERAS */
.prateleira.vitrine > ul > li { position: relative; }
.flag { display: none; }
.vitrine .flag.sale { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-icono_sale.png); background-size: 50px; background-repeat: no-repeat; height: 70px; width: 70px; position: absolute; left: 0; top: 10%; display: block; z-index: 9; text-indent: -666em; }

/*.vitrine .flag.new {
     
    background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-icono_sale.png);
    background-size: 70px;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 9;
    text-indent: -666em;

}*/
.prateleira .product-image .flag.haka20,
.vitrine .flag.haka20 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-20.png); background-size: 70px; background-repeat: no-repeat; height: 70px; width: 70px; position: absolute; left: 20px; top: 5px; display: block; z-index: 9; text-indent: -666em; }
.prateleira .product-image .flag.haka30,
.vitrine .flag.haka30 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-30.png); background-size: 70px; background-repeat: no-repeat; height: 70px; width: 70px; position: absolute; left: 20px; top: 5px; display: block; z-index: 9; text-indent: -666em; }
.prateleira .product-image .flag.haka40,
.vitrine .flag.haka40 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-40.png); background-size: 70px; background-repeat: no-repeat; height: 70px; width: 70px; position: absolute; left: 20px; top: 5px; display: block; z-index: 9; text-indent: -666em; }
.prateleira .product-image .flag.haka50,
.vitrine .flag.haka50 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-50.png); background-size: 70px; background-repeat: no-repeat; height: 70px; width: 70px; position: absolute; left: 20px; top: 5px; display: block; z-index: 9; text-indent: -666em; }
.prateleira .product-image .flag.haka60,
.vitrine .flag.haka60 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-60.png); background-size: 70px; background-repeat: no-repeat; height: 70px; width: 70px; position: absolute; left: 20px; top: 5px; display: block; z-index: 9; text-indent: -666em; }
.prateleira .product-image .flag.haka60,
.prateleira .product-image .flag.haka30,
.prateleira .product-image .flag.haka40,
.prateleira .product-image .flag.haka50,
.prateleira .product-image .flag.haka60,
.prateleira .product-image .flag.haka20 { left: 5px; }
.product-image .flag.haka20 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-20.png); background-size: 100px; background-repeat: no-repeat; height: 100px; width: 100px; position: absolute; left: 15px; top: 0; display: block; z-index: 9; text-indent: -666em; }
.product-image .flag.haka30 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-30.png); background-size: 100px; background-repeat: no-repeat; height: 100px; width: 100px; position: absolute; left: 15px; top: 0; display: block; z-index: 9; text-indent: -666em; }
.product-image .flag.haka40 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-40.png); background-size: 100px; background-repeat: no-repeat; height: 100px; width: 100px; position: absolute; left: 15px; top: 0; display: block; z-index: 9; text-indent: -666em; }
.product-image .flag.haka50 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-50.png); background-size: 100px; background-repeat: no-repeat; height: 100px; width: 100px; position: absolute; left: 15px; top: 0; display: block; z-index: 9; text-indent: -666em; }
.product-image .flag.haka60 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-60.png); background-size: 100px; background-repeat: no-repeat; height: 100px; width: 100px; position: absolute; left: 15px; top: 0; display: block; z-index: 9; text-indent: -666em; }
@media (min-width:768px) {
    #product-page .product-image .flag.haka20,
    #product-page .product-image .flag.haka30,
    #product-page .product-image .flag.haka40,
    #product-page .product-image .flag.haka50,
    #product-page .product-image .flag.haka60 { left: 100px; top: 5px; }
}

/* PRODUCTOS */

/* INSTITUCIONAL */
#institucional-content { font-family: 'Open Sans', sans-serif; }
#institucional-content .sidebar li a { text-transform: uppercase; color: #333; text-decoration: none; font-size: .95em; letter-spacing: 0.2em; padding-bottom: 20px; display: block; }
#institucional-content .sidebar li a:hover { color: #666; }
#institucional-content .col-md-8 { padding-bottom: 40px; }

/* TIENDAS */
#regiones { font-size: 14px; }
#regiones .row { margin: 0; }
#regiones h2 { font-size: 1.6em; font-weight: 700; letter-spacing: -0.01em; padding: 20px 0; text-transform: uppercase; margin-left: 15px; }
#regiones h3 { border-bottom: 1px solid #000; font-size: 1.4em; font-weight: 600; letter-spacing: -0.01em; margin: 10px 0; padding: 10px 0; }
#regiones a { color: #333; text-decoration: none; }
#regiones address strong { color: #333; font-size: 15px; padding-bottom: 5px; }
.grupo-tienda { padding: 10px 0px; }

/* CONTACTO */
.fullFormContact { width: 100%; max-width: 600px; min-width: 320px; margin: 0 auto; font-family: "Open Sans Condensed", sans-serif; }
.error { color: #FFFFFF !important; background-color: #FFABAB !important; border-color: #FFCBD6 !important; }
form#formContactV1 { margin: 0 0 80px; }
.formContactVtex label.error { background-color: #FFFFFF !important; color: #D72A27 !important; }
.formContactVtex #contentAlert { width: 100%; padding: 20px 0; margin: 0 auto 20px; border-radius: 3px; color: #848484; font-size: 12px; margin: 18px 0; text-align: center; display: none;    /* bootstrap colors*/ color: #0C75AC; background-color: #CCEEFF; border: 1px solid #A2EEFF; }
.formContactVtex #contentAlert strong { font-weight: 700; font-size: 15px; text-align: center;    /*color:#FF0000;*/ text-transform: uppercase; margin: 0 auto 10px; display: block; }
.formContactVtex #contentAlert p { font-weight: 400 !important; font-size: 14px !important; }
.formContactVtex #contentAlert img { max-width: 40px; margin: 10px auto 0; display: block; }
.formContactVtex div { margin: 0 0 15px; font-family: arial; }
.formContactVtex div i { width: calc(100% - 20px); padding: 5px 10px; position: absolute; left: 0; top: 0; text-align: right; display: block; }
.formContactVtex h2 { font-family: arial; text-transform: uppercase; font-size: 17px; color: #363636; margin: 60px 0 30px; text-align: center; display: block; }
.formContactVtex label { width: calc(100% - 2px); font-size: 11px; color: #797979; margin: 0 0 5px; padding: 5px 0; margin: 0 0 1px 0; font-size: 11px; z-index: 1; text-indent: 10px; position: relative; }
.formContactVtex input,
.formContactVtex select,
.formContactVtex textarea { width: calc(100% - 2px); padding: 10px 0; border: 1px solid #000; text-indent: 10px; margin: -2px 0 0 0; border-radius: 0 !important; transition: all 0.4s; outline: none; display: block; }
.formContactVtex input:focus,
.formContactVtex select:focus,
.formContactVtex textarea:focus { background: #E0E0E0; }
.formContactVtex select {    /*width:100%;*/ }
.formContactVtex textarea { height: 100px; text-indent: 0; padding: 0 !important; padding: 10px; resize: vertical; }
.formContactVtex input[type="submit"] { background-color: #c56525; border: 0 none; border-radius: 0; color: #fff; float: left; font-family: "Poppins", sans-serif; font-size: 18px; font-weight: 400; height: 40px; letter-spacing: 0.2em; line-height: 34px; padding: 5px 20px; text-align: center; text-decoration: none; text-transform: uppercase; width: 100%; }
.formContactVtex input[type="submit"]:hover { background: #994A1F; border-color: #339833; }
.formContactVtex input[type="submit"]:disabled { background: #A7A7A7 !important; border: 1px solid #9A9A9A !important; border-bottom: 4px solid #797979 !important; }
.left { float: left; }
.right { float: right; }
.box50 { width: 49.5%; }
.box100 { width: 100%; }
.clear { clear: both; }

/* CATEGORIAS Y DEPARTAMENTOS */
#departament-banner { margin-bottom: 25px; }
.filtro-tabla-de-tallas,
.filtro-video,
.filtro-marca { display: none; }

/* @MEDIAS */
@media (max-width:767px) {
    .search.col-xs-12.col-sm-5.col-md-2.col-lg-2 { display: none; }
    header.goToTop hr { display: none; }
    .fullbanner .owl-pagination { display: none; }
    .owl-controls .owl-buttons > div.owl-prev { left: 0; }
    .owl-controls .owl-buttons > div.owl-next { right: 0; }
    .header-container { background-color: #fff; }
    .header .logo a img { width: 139px; }
    .header .btn { border-radius: 0; border: none; }
    .header .btn:hover { background-color: #fff; }
    .prateleira .owl-controls .btn { border: none; }
    .prateleira.vitrine > ul { margin: 0; }
    .categorias-home-destacadas .col-sm-6:first-child { margin-bottom: 20px; }
    .footer { text-align: center; }
    .footer .col-newletter { margin-top: 20px; }
    .product-details .product-name .productName { font-size: 2em; }
    #brand,
    .productDescription { text-align: center; }
    .productDescription { margin-bottom: 20px; }
    .Color { float: left; }
    .Talla { float: right; }
    .seletor-sku { min-height: 55px; }
    .product-image .apresentacao .thumbs { margin-top: 20px; }
    .product-details .price-box { margin-top: 20px; }
    ul.topic.Talla,
    ul.topic.Color { text-align: center; margin-bottom: 30px; }
    .product-info .seletor-sku .select label { float: none; }
}
@media (min-width:768px) {
    section#home-content,
    section#product-content,
    section#content,
    section#institucional-content { margin-top: 175px; }
    .header .menu,
    .header .search { margin-top: 70px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.7s; transition-timing-function: ease-in-out; }
    .header .mini-cart { margin-top: 75px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.7s; transition-timing-function: ease-in-out; }
    .header .mini-cart a { color: #000; text-decoration: none; padding-bottom: 15px; }
    .header .search .btn-buscar { display: none; }
    header { background: rgba(255, 255, 255, 0.9); }
    header.goToTop .header .menu,
    header.goToTop .header .search { margin-top: 17px; }
    .goToTop .header .mini-cart { margin-top: 27px; }
    header.goToTop hr,
    header.goToTop .supra-header { display: none; }
    header.goToTop .header { background: transparent; }
    header.goToTop { height: 70px; z-index: 9999; background: rgba(255, 255, 255, 0.9); }
    header.goToTop .logo .logo-go { display: block; width: 85%; margin-top: 7px; }
    header.goToTop .logo .logo,
    header .logo .logo-go,
    header.goToTop .col-md-10 { display: none; }
    .header,
    header img,
    .logo { -webkit-transition: all 0.1s; -moz-transition: all 0.1s; -ms-transition: all 0.1s; -o-transition: all 0.1s; transition: all 0.2s; transition-timing-function: ease-in-out; }
    .footer .col-inst-duvidas { font-size: 1.1em; letter-spacing: 0.2em; text-transform: uppercase; }
    .footer .col-atendimento-social { text-align: center; }
    .footer .newsletter { float: right; margin-top: 43px; }
}

/** LIGHTBOX MARKUP TALLAS **/
.lightbox-tallas {  /** Default lightbox to hidden */
display: none;  /** Position and style */ position: fixed; z-index: 999; width: 100%; height: 100%; text-align: center; top: 0; left: 0; background: rgba(255, 255, 255, 0.8); }
.lightbox-tallas img {  /** Pad the lightbox image */
display: inherit; max-width: 90%; max-height: 80%; margin-top: 5%; }
.lightbox-tallas:target {   /** Remove default browser outline */
outline: none;  /** Unhide lightbox **/ display: block; }
@media (max-width:767px) {
    .lightbox-tallas img {  /** Pad the lightbox image */
    height: none; width: none; margin-top: 25%; }
}
#departament-navegador .menu-departamento h3 a { font-family: "Poppins", sans-serif; color: #000; font-weight: 600; text-decoration: none; text-transform: uppercase; font-size: 0.7em; }
#departament-navegador .menu-departamento ul,
#departament-navegador .menu-departamento h5 { display: none; }
#departament-navegador .menu-departamento h4 a { font-family: "Poppins", sans-serif; color: #666; font-size: 12px; font-weight: 600; line-height: 12px; margin: 0; text-transform: uppercase; text-decoration: none; }

/* DESCUENTOS POR */

/* #descuentos ul.descuento-por li {
    float: left;
    width: 24%;
    margin: 0 0 0  1%;
    text-align: center;
    border: solid 1px #000;
    overflow: hidden;
    padding: 10px 0;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
} 25% */

#descuentos ul.descuento-por li { float: left; width: 32.3%; margin: 0 0 0 1%; text-align: center; border: solid 1px #000; overflow: hidden; padding: 10px 0; font-family: "Poppins", sans-serif; font-weight: 700; }
#descuentos { padding: 0 0 20px 0; overflow: hidden; }
#descuentos ul.descuento-por li a { color: #c46a31; text-transform: uppercase; text-decoration: none; font-size: 3em; line-height: 1em; overflow: hidden; }
#descuentos ul.descuento-por li:hover { background: #e9e9e9; }
#descuentos ul.descuento-por li a span { font-size: 20px; display: block; line-height: 1em; letter-spacing: .1em; }

/* Clases para Toromiro */
.margin_center { margin: 0 auto; }
.margin_v { margin: 15px 0; }
.margin_h { margin: 0 15px; }
.nomargin { margin: 0; }
.margin_7v { margin: 7% 0; }
.nopad { padding: 0; }
.pad_v { padding: 15px 0; }
.pad_h { padding: 0 15px; }
.txt_grisos { color: #262626; }
.txt_upper { text-transform: uppercase; }
.tit_lite { font-weight: 400; }
p.l_height { line-height: 1.8rem; }
.tit_bordes { border-bottom: 1px solid #262626; border-top: 1px solid #262626; font-family: 'Poppins', sans-serif; font-weight: 400; margin: 3% 0 6%; padding: 15px; }
.img_tablas { background-position: top center; background-size: cover; min-height: 500px; width: 100%; }
.full_width { display: block; width: 100%; height: auto; }
.bg_ocre { background-color: #C56525; }
.txt_blanco { color: #fff; }
.bg_negro { background-color: #000; }

/* Fin de Clases para Toromiro */
.menu-departamento .menu-navegue .search-navigator-tab { display: none; }
.dropdown-submenu { position: relative; }
.dropdown-submenu a { padding: 5px !important; }
.dropdown-menu { box-shadow: none !important; min-width: 130px !important; }
.dropdown-submenu>.dropdown-menu { top: 0; left: 100%; margin-top: -1px; margin-left: -1px; font-size: 0.9em; }
.dropdown-submenu .dropdown-menu li a { text-align: left !important; margin-left: 10px; }
.dropdown-submenu:hover>.dropdown-menu { display: block; }
.dropdown-submenu>a:after { display: inline-block; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #666; margin-top: 5px; margin-left: 7px; }
.dropdown-submenu:hover>a:after { border-left-color: #999; }
.dropdown-submenu.pull-left { float: none; }
.dropdown-submenu.pull-left>.dropdown-menu { left: -100%; margin-left: 10px; -webkit-border-radius: 6px 0 6px 6px; -moz-border-radius: 6px 0 6px 6px; border-radius: 6px 0 6px 6px; }
#menu-mobile .busca legend,
#menu-mobile .busca label,
#menu-mobile .busca select,
#menu-mobile .busca .btn-buscar { display: none; }
#menu-mobile svg { float: left; margin-right: 20px; margin-top: 10px; margin-left: 15px; }
#menu-mobile .fulltext-search-box { border-radius: 0; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #000; width: 85%; }
#menu-mobile .logo-go { width: 40%; margin-left: 30%; }
.prateleira .price .best-price-clone { display: inline-block; color: #262626; font-size: 1.2em; font-weight: 400; line-height: 20px; }

/* menuacordeon movil */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a { margin: 0; padding: 0; border: 0; list-style: none; font-weight: normal; text-decoration: none; line-height: 1; font-family: "Poppins", sans-serif; font-size: 1.1em; position: relative; text-transform: uppercase; color: #000; }
#cssmenu { width: 100%; margin-top: 20px; }
#cssmenu > ul > li { background: #fff; border: 1px solid #000; border-left: none; border-right: none; }
#cssmenu > ul > li:first-child { border-bottom: none; }
#cssmenu > ul > li:hover { background: #fff; }
#cssmenu > ul > li > a { font-size: .9em; display: block; color: #000; }
#cssmenu > ul > li > a > span { display: block; padding: 12px 10px; }
#cssmenu > ul > li > a:hover { text-decoration: none; }
#cssmenu > ul > li.active { border-bottom: none !important; }
#cssmenu > ul > li.has-sub > a span { background: url(http://lippioutdoor.vteximg.com.br/arquivos/icon_plus.png) 96% center no-repeat; }
#cssmenu > ul > li.has-sub.active > a span { background: url(http://lippioutdoor.vteximg.com.br/arquivos/icon_minus.png) 96% center no-repeat; }
#cssmenu ul ul { display: none; background: #fff; }
#cssmenu ul ul li { padding: 0; border-top: none; background: #fff; }
#cssmenu ul ul li:last-child { border-bottom: none; }
#cssmenu ul ul a { padding-left: 20px; display: block; font-size: .6em; font-weight: 300; color: #666; }
#cssmenu ul ul .naranja a { /*Jair para texto SALE*/
padding-left: 20px; display: block; font-size: .6em; font-weight: 300; color: #C56525; }
#cssmenu ul ul a:before,
#cssmenu ul ul .naranja a:before { /*Jair para texto SALE*/
position: absolute; left: 10px; }
#cssmenu ul ul a:hover,
#cssmenu ul ul .naranja a:hover { /*Jair para texto SALE*/
color: #000; }
#menu-mobile .movil-institucional { padding: 15px 0 0 10px; }
.header .mini-cart-qty-admake:before { content: "("; font-style: normal; }
.header .mini-cart-qty-admake:after { content: ") "; font-style: normal; }
.nopad { padding: 0; }

/* COLORES */
.skuespec_Color_opcao_Purpura { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/Purpura.jpg); }
.skuespec_Color_opcao_Gris { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/gris.jpg); }
.skuespec_Color_opcao_Oliva { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/oliva.jpg); }
.skuespec_Color_opcao_Beige { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/beige.jpg); }
.skuespec_Color_opcao_Negro { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/NEGRO.jpg); }
.skuespec_Color_opcao_Ladrillo { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/ladrillo.jpg); }
.skuespec_Color_opcao_Pattern,
.skuespec_Color_opcao_Print { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/pattern.jpg); }
.skuespec_Color_opcao_Burdeo { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/burdeo.jpg); }
.skuespec_Color_opcao_Crudo { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/crudo.jpg); }
.skuespec_Color_opcao_Mostaza,
.skuespec_Color_opcao_Ocre { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/mostaza.jpg); }
.skuespec_Color_opcao_Celeste { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/celeste.jpg); }
.skuespec_Color_opcao_Verde { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/verde.jpg); }
.skuespec_Color_opcao_Verde-Oscuro,
.skuespec_Color_opcao_Oliva-Oscuro { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/verde.jpg); }
.skuespec_Color_opcao_Terracota { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/terracota.jpg); }
.skuespec_Color_opcao_Gris-Oscuro,
.skuespec_Color_opcao_Marengo { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/gris.jpg); }
.skuespec_Color_opcao_Cafe { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/cafe.jpg); }
.skuespec_Color_opcao_Turquesa { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/turquesa.jpg); }
.skuespec_Color_opcao_Petroleo { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/petroleo.jpg); }
.skuespec_Color_opcao_Arena { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/beige.jpg); }
.skuespec_Color_opcao_Vino { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/vino.jpg); }
.skuespec_Color_opcao_Naranjo { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/naranjo.jpg); }
.skuespec_Color_opcao_Purpura.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/Purpura_agotado.jpg); }
.skuespec_Color_opcao_Gris.item_unavaliable,
.skuespec_Color_opcao_Gris-Oscuro.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/gris_agotado.jpg); }
.skuespec_Color_opcao_Oliva.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/oliva_agotado.jpg); }
.skuespec_Color_opcao_Beige.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/beige_agotado.jpg); }
.skuespec_Color_opcao_Negro.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/NEGRO_agotado.jpg); }
.skuespec_Color_opcao_Ladrillo.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/ladrillo_agotado.jpg); }
.skuespec_Color_opcao_Pattern.item_unavaliable,
.skuespec_Color_opcao_Print.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/pattern_agotado.jpg); }
.skuespec_Color_opcao_Burdeo.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/burdeo_agotado.jpg); }
.skuespec_Color_opcao_Crudo.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/crudo_agotado.jpg); }
.skuespec_Color_opcao_Mostaza.item_unavaliable,
.skuespec_Color_opcao_Ocre.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/mostaza_agotado.jpg); }
.skuespec_Color_opcao_Celeste.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/celeste.jpg); }
.skuespec_Color_opcao_Verde.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/verde_agotado.jpg); }
.skuespec_Color_opcao_Verde-Oscuro.item_unavaliable,
.skuespec_Color_opcao_Oliva-Oscuro.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/verde_agotado.jpg); }
.skuespec_Color_opcao_Terracota.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/terracota_agotado.jpg); }
.skuespec_Color_opcao_Gris-Oscuro.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/gris_agotado.jpg); }
.skuespec_Color_opcao_Cafe.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/cafe_agotado.jpg); }
.skuespec_Color_opcao_Turquesa.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/turquesa_agotado.jpg); }
.skuespec_Color_opcao_Petroleo.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/petroleo_agotado.jpg); }
.skuespec_Color_opcao_Arena.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/beige_agotado.jpg); }
.skuespec_Color_opcao_Vino.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/vino_agotado.jpg); }
.skuespec_Color_opcao_Naranjo.item_unavaliable { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/naranjo_agotado.jpg); }

/* FAMILIA HAKA HONU */
.haka-videos h2,
.haka-familia h2 { text-transform: uppercase; font-weight: 700; font-size: 1.3em; padding: 10px 0 8px 0; letter-spacing: 0.2em; border-bottom: solid 1px #262626; border-top: solid 1px #262626; line-height: 1.2em; margin-bottom: 0px; margin-top: 0px; text-align: center; }
.haka-videos h2 { font-size: 1em; }
.haka-videos h3 { text-transform: uppercase; color: #000; font-family: 'Poppins', sans-serif; font-weight: 700; letter-spacing: .1em; font-size: 1.4em; margin-bottom: 0px; }
.haka-videos p { font-size: 1.1em; }
.haka-videos span { font-size: 1.1em; font-style: italic; margin-bottom: 12px; display: block; }
.haka-videos .col-md-6 p { font-size: .8em; text-transform: uppercase; color: #000; font-family: 'Poppins', sans-serif; font-weight: 700; letter-spacing: .1em; padding: 10px 0 20px 0; }
.haka-familia .col-md-4 p { font-size: 1em; text-transform: uppercase; color: #000; font-family: 'Poppins', sans-serif; font-weight: 700; letter-spacing: .1em; padding: 10px 0 20px 0; }
#departament-navegador .menu-departamento > h3,
#admake-advanced-filter > .box-filtro h3,
#departament-navegador .menu-departamento h3 { border-bottom: 1px solid #000; padding-bottom: 0; margin-bottom: 5px; }
#departament-navegador .menu-departamento h3 { font-size: 18px; letter-spacing: .1em; }

/* LOOKBOOK */
.lookbook-movile { display: none; }
@media (max-width:767px) {
    .lookbook-movile { display: inherit; }
    .lookbook-movile img { margin: 0 auto; }
    ul.thumbs img { width: 40px; }
    ul.topic.Talla { width: 100%; }
    ul.topic.Color { width: 100%; }
    .home .vitrine h2 { margin: 25px 0; }
    iframe { display: none; }
    .galeria-instagram { display: none; }
}
.prateleira .price span:nth-child(2) { color: #C46822; }
#familia-content { margin-top: 170px; }
#familia-content .fotografo-01,
#familia-content .fotografo-02,
#familia-content .fotografo-03,
#familia-content .fotografo-04,
#familia-content .fotografo-05,
#familia-content .fotografo-06,
#familia-content .fotografo-07,
#familia-content .fotografo-08 { margin-bottom: 20px; position: relative; }
#familia-content .fotografo-01 img,
#familia-content .fotografo-02 img,
#familia-content .fotografo-03 img,
#familia-content .fotografo-04 img,
#familia-content .fotografo-05 img,
#familia-content .fotografo-06 img,
#familia-content .fotografo-07 img,
#familia-content .fotografo-08 img { margin-left: auto; margin-right: auto; display: block; }
#familia-content .fotografo-01 a:hover:before { content: "Diego Rojas"; position: absolute; bottom: 10px; right: 25px; font-size: 1em; color: #fff; font-weight: 300; }
#familia-content .fotografo-02 a:hover:before { content: "Pablo Jiménez"; position: absolute; bottom: 10px; right: 25px; font-size: 1em; color: #fff; font-weight: 300; }
#familia-content .fotografo-03 a:hover:before { content: "Victor Camus"; position: absolute; bottom: 10px; right: 25px; font-size: 1em; color: #fff; font-weight: 300; }
#familia-content .fotografo-04 a:hover:before { content: "Mateo Barrengoa"; position: absolute; bottom: 10px; right: 25px; font-size: 1em; color: #fff; font-weight: 300; }
#familia-content .fotografo-05 a:hover:before { content: "Pablo Jimenez"; position: absolute; bottom: 10px; right: 25px; font-size: 1em; color: #fff; font-weight: 300; }
.haka-embajador #familia-content .row { margin-bottom: 30px; }
.haka-embajador  h2.titulo-embajador { letter-spacing: .1em; font-weight: 600; margin: 0; font-size: 25px; }
.haka-embajador .titulo-embajador small { font-style: italic; letter-spacing: 0; color: #262626; margin-bottom: 20px; margin-top: 7px; display: block; font-weight: 300; }
.haka-embajador p { font-family: 'Open Sans', sans-serif; line-height: 16px; font-size: 13px; }
.haka-embajador p strong { font-family: 'Open Sans', sans-serif; }
.conteudo-familia .col-md-12.titulo { margin-bottom: 30px; }

/* POLITICAS */
#institucional-content .conteudo-institucional ul { margin-left: 30px; }
#institucional-content .conteudo-institucional li { margin-bottom: 10px; list-style: outside; }
section#institucional-content { font-family: 'Open Sans', sans-serif; margin-top: 212px; }
section#institucional-content #box-bread-brumb { font-family: 'Open Sans Condensed', sans-serif; margin-bottom: 30px; font-size: 1.1em; text-transform: uppercase; }
section#institucional-content h2 { font-family: 'Poppins', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 1.4em; letter-spacing: .2em; margin-top: 0; margin-bottom: 0; }
section#institucional-content h3 { font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 1.2em; letter-spacing: .1em; margin-top: 0; }
section#institucional-content h4 { font-family: 'Poppins', sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: .1em; }
section#institucional-content .sidebar li { font-family: 'Poppins', sans-serif; font-weight: 700; }
.fullbanner { margin-bottom: 30px; }
.fullbanner .fa-chevron-right:before { content: "\f105"; }
.fullbanner .fa-chevron-left:before { content: "\f104"; }
.fullbanner .fa-chevron-down:before { content: "\f107"; }
.fullbanner .fa { font-size: .75em; }
.owl-nav .owl-prev,
.owl-nav .owl-next { width: 40px; height: 40px; position: absolute; top: 50%; margin-top: -20px; text-align: center; color: #fff; font-size: 18px; line-height: 20px; font-size: 4em; }
.owl-nav .owl-next { right: 15px; }
.grupo-tienda .tienda { min-height: 126px; padding-right: 10px; }

/* TEMPORALES */
#admake-advanced-filter > div.box-filtro.checkbox.filtro-temporada > div.opcoes > ul > li:nth-child(1) { display: none !important; }
.product-image .flag.haka60 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/iconos_descuentos60_100px.png); background-size: 100px; background-repeat: no-repeat; height: 100px; width: 100px; position: absolute; left: 15px; top: 0; display: block; z-index: 9; text-indent: -666em; }
.prateleira .product-image .flag.haka60,
.vitrine .flag.haka60 { background-image: url(http://lippioutdoor.vteximg.com.br/arquivos/flag-haka-60.png); background-size: 70px; background-repeat: no-repeat; height: 70px; width: 70px; position: absolute; left: 20px; top: 5px; display: block; z-index: 9; text-indent: -666em; }
a#tabla-tallas { font-size: 15px; font-weight: 600; }
.footer .newsletter fieldset
label { color: transparent; }
.footer .newsletter fieldset
label:before { content: 'En tu bandeja de entrada encontrarás noticias sobre lo más reciente de Hakahonu, lanzamientos de productos y promociones.'; color: #000; }
.cyberday .prateleira.vitrine button.btn.btn-default.btn-lg { padding: 0; border: none; background: transparent; }
.cyberday .prateleira.vitrine .owl-nav .owl-next { right: -20px; }
.cyberday .prateleira.vitrine .owl-nav .owl-prev { left: 0px }
@media (min-width:768px) {
    .cyberday .categorias-home-destacadas .col-md-4 li { width: 50%; float: left; min-height: 240px; }
    .cyberday .categorias-home-destacadas .col-md-8,
    .cyberday .categorias-home-destacadas .col-md-4 { padding: 0; }
    .cyberday .categorias-home-destacadas .col-md-8 { width: 60%; }
    .cyberday .categorias-home-destacadas .col-md-4 { width: 38%; }
}
@media (min-width:768px) and (max-width:991px) {
    .cyberday .categorias-home-destacadas .col-md-4 li { min-height: 158px; }
}
@media (min-width:992px) and (max-width:1199px) {
    .cyberday .categorias-home-destacadas .col-md-4 li { min-height: 200px; }
}
@media (max-width:575px) {
    .cyberday .categorias-home-destacadas .col-md-4 li { width: 50%; float: left; min-height: 170px; }
    .cyberday .categorias-home-destacadas .col-md-4 img { padding-top: 10px; }
}
.footer .btn.btn-black { background-color: #262626; color: #fff; padding: 6px 24px; font-family: "Poppins", sans-serif; border-radius: 0; margin-top: 40px; }
.col-newletter { text-align: center; }
td.value-field.Stock-Inicial:before { content: 'Stock inicial: '; }
.product-name h1 { margin: 10px 0; }
.product-info .productDescription { margin-bottom: 20px; font-weight: 500; }
#comprar-flutuante { z-index: 999; }
.header .search .fulltext-search-box { background: transparent; }

/* NOTIFIQUEME */
.portal-notify-me-ref { clear: both; }
h3.notifymetitle.notifyme-title { display: none; }
input#notifymeClientName { width: 43%; border-radius: 0; margin-right: 4%; border-color: #000; padding: 0 12px; }
input#notifymeClientEmail { width: 43%; border-radius: 0; border-color: #000; padding: 0 10px; }
input#notifymeButtonOK { width: 10%; border-radius: 0; border-color: #000; color: #fff; background: #000; }
.sku-notifyme-form p { font-family: 'Open Sans', sans-serif; padding-top: 20px; }

/* ESPECIFICACIONES */
div#especificaciones th.name-field,
div#especificaciones td.value-field.Stock-Inicial,
div#especificaciones td.value-field.Tabla-de-Tallas,
div#especificaciones td.value-field.Video,
div#especificaciones td.value-field.Intencion { display: none; }
#especificaciones td.value-field.Caracteristicas { display: block; }
#especificaciones { margin: 20px 0 30px; border-top: solid #000 2px; text-align: left; font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 500; }
#especificaciones h4 { font-size: 13px; font-weight: 500; }
.display-hover { display: none; }
.product-name h1 { margin: 10px 0; }
.product-info .productDescription { margin-bottom: 20px; font-weight: 500; }
#comprar-flutuante { z-index: 999; }
.header .search .fulltext-search-box { background: transparent; }

/* NOTIFIQUEME */
.portal-notify-me-ref { clear: both; }
h3.notifymetitle.notifyme-title { display: none; }
input#notifymeClientName { width: 43%; border-radius: 0; margin-right: 4%; border-color: #000; padding: 0 12px; }
input#notifymeClientEmail { width: 43%; border-radius: 0; border-color: #000; padding: 0 10px; }
input#notifymeButtonOK { width: 10%; border-radius: 0; border-color: #000; color: #fff; background: #000; }
.sku-notifyme-form p { font-family: 'Open Sans', sans-serif; padding-top: 20px; }

.product-image .apresentacao .thumbs li:last-child { display: none; }
.sku span, .skuReference { display: inline-block; padding: 3px; }
.header .search .fulltext-search-box:focus { outline: 0px; }
.header .sociales i { background: #afafaf; border-radius: 20px; height: 20px; width: 20px; color: #fff; text-align: center; padding-top: 4px; font-size: 12px; margin-left: 5px; }
.header .col-md-10 { margin-top: 10px; }
.header hr { margin-top: 5px; }
.header .institucional li { padding: 0; }
.header .institucional li a { color: #808080; text-transform: uppercase; }
.header .institucional li a:hover { color: #999; text-decoration: none; }
.header .institucional { margin-top: 4px; }
div#product-extra-details-3 { display: none; }
.tienda .dropdown-menu { left: -600px !important; position: absolute; width: 1138px; border: none; background: rgba(256, 256, 256, 0.9); padding: 0 20px; }
.header .nav-pills li a { padding: 10px 13px; color: #000; }
.header .nav-pills .dropdown .dropdown-menu li a { text-align: left; font-size: 12px; font-weight: 400; padding: 4px; color: #666; }

/*.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(1) > a,
.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(2) > a,
.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(3) > a,
.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(4) > a */
.header .nav-pills .tienda .dropdown .dropdown-menu .titulo-negro a { color: #000; font-weight: 600; font-size: 15px; letter-spacing: 0.1em; padding-top: 10px; }

/*.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(3) > a:nth-child(3)*/
.header .nav-pills .tienda .dropdown .dropdown-menu .titulo-naranja a { color: #C56525; font-weight: 600; font-size: 15px; letter-spacing: 0.1em; padding-top: 10px; }

/*Jair*/

/*.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(1) > a:hover, 
.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(2) > a:hover,
.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(3) > a:hover,
.header .nav-pills .tienda .dropdown .dropdown-menu > li:nth-child(4) > a:hover */
.header .nav-pills .tienda .dropdown .dropdown-menu .titulo-negro a:hover, .header .nav-pills .tienda .dropdown .dropdown-menu .titulo-naranja a:hover { background: transparent; color: #999; }

/*Jair*/
.header .nav-pills .dropdown .dropdown-menu .col-md-3:nth-child(1), .header .nav-pills .dropdown .dropdown-menu .col-md-3:nth-child(2), .header .nav-pills .dropdown .dropdown-menu .col-md-3:nth-child(3), .header .nav-pills .dropdown .dropdown-menu .col-md-3:nth-child(4) { border-left: 2px solid #ccc; padding: 20px; min-height: 250px }

/*.header .nav-pills .dropdown .dropdown-menu .col-md-3:nth-child(4) { padding: 10px 30px} Jair */

/*.header .nav-pills .dropdown .dropdown-menu img { margin: 0 auto; padding-bottom: 8px;} Jair */
header.goToTop .tienda .dropdown-menu { margin-top: 18px; }
p.preco-a-vista.price-cash {display: none !important;}

/* PARA REEMPLAZAR */
.product-info .seletor-sku .select label:hover, .product-info .seletor-sku .select label.checked, .product-info .seletor-sku .select label.sku-picked { background-color: #000; border-color: #000; color: #fff }
.product-info .seletor-sku .select label.dimension-Color:hover, .product-info .seletor-sku .select label.dimension-Color.checked, .product-info .seletor-sku .select label.dimension-Color.sku-picked { color: transparent; background-color: transparent; border-width: 2px; }
a#tabla-tallas { font-weight: 400; }
.prateleira.vitrine > ul > li .box-item { padding: 30px 10px; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
.prateleira.vitrine > ul > li .box-item:hover { -webkit-box-shadow: inset 0px 0px 0px 1px #ddd; -moz-box-shadow: inset 0px 0px 0px 1px #ddd; box-shadow: inset 0px 0px 0px 1px #ddd; position: absolute; z-index: 999; background: #fff; overflow: hidden; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; width: 89.7%; }
.prateleira.vitrine > ul > li .box-item:hover .display-hover { display: block; }
.display-hover.hover-color ul li { width: 20px; text-align: center; display: inline-block; margin: 0 2px 10px; border: solid 1px #333; }
.prateleira.vitrine > ul > li { min-height: 360px; }
.prateleira.vitrine > ul span.installment {display: block;}
#collections .prateleira.vitrine { margin-bottom: 50px; }
#collections > div > div > div.sub:nth-child(5) { display: none; }
.zapato .product-info .seletor-sku ul { width: 100%; clear: both; text-align: center; margin-bottom: 25px; }
.zapato .product-info .seletor-sku .select label { float: none; }
.descricao-preco > em.valor-dividido.price-installments > span > span { font-size: 0; }
.descricao-preco > em.valor-dividido.price-installments > span > span:before { content: '6x cuotas'; font-size: 1.5rem; margin-right: 3px; }
.descricao-preco > em.valor-dividido.price-installments { font-size: 1.5rem; font-weight: 600; font-style: normal; margin-top: 5px; }

/* ESPECIFICACIONES */
div#especificaciones th.name-field, div#especificaciones td.value-field.Stock-Inicial, div#especificaciones td.value-field.Tabla-de-Tallas, div#especificaciones td.value-field.Video, div#especificaciones td.value-field.Intencion, div#especificaciones td.value-field.Temporada, #caracteristicas > table > tbody > tr:nth-child(5) { display: none; }
#especificaciones td.value-field.Caracteristicas { display: block; }
#especificaciones td.value-field.Especificaciones { padding-top: 10px; }
#especificaciones table.Caracteristicas { line-height: 1.7em; }
#especificaciones { margin: 20px 0 30px; border-top: solid #000 2px; text-align: left; font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 500; }
#especificaciones h4 { font-size: 13px; font-weight: 500; }
#brand #caracteristicas .Especificaciones, .product-name #brand #caracteristicas .Stock-Inicial, #brand.stock #caracteristicas .Intencion, #brand.stock #caracteristicas .Temporada, #brand .Video { display: none; }
#brand.stock #caracteristicas > table > tbody > tr:nth-child(5), #brand.stock #caracteristicas .value-field.Stock-Inicial { display: block; }
p.descricao-preco { margin: 0; }
td.value-field.Stock-Inicial { padding-bottom: 50px; }
.product-details .price-box .descricao-preco .valor-por strong { line-height: 1.2em; }
.cyberday .col-md-3, .cyberday .col-md-2 { padding: 5px; }
.cyberday .col-md-2 img { padding-bottom: 10px; }
.vitrine .box-item { position: relative; }
a.product-image-hover:hover { filter: alpha(opacity=100); opacity: 1; -webkit-transition: opacity .5s ease-in-out; -moz-transition: opacity .5s ease-in-out; -ms-transition: opacity .5s ease-in-out; -o-transition: opacity .5s ease-in-out; transition: opacity .5s ease-in-out; z-index: 999999999; position: absolute; top: 0; left: 0; }
a.product-image-hover { filter: alpha(opacity=0); -webkit-transition: opacity .5s ease-in-out; -moz-transition: opacity .5s ease-in-out; -ms-transition: opacity .5s ease-in-out; -o-transition: opacity .5s ease-in-out; transition: opacity .5s ease-in-out; opacity: 0; position: absolute; top: 0; left: 0; }
a.product-image-hover img { width: 100%; height: 100%; }
.prateleira .box-item { position: relative; }
.prateleira .product-image { position: initial; }
.box-banner img { height: 100%; }
.resultado-busca-filtro > fieldset option:last-child { display: none; }
#collections .prateleira.vitrine a.product-image-hover img { padding: 30px 10px 0 10px; }

/*#contador-header {
   background-color: #ca6427; 
   height: 38px;
   color: #fff;
   font-size: 22px;
   text-align: center;
   font-weight: 700;
   padding: 3px 0;
}*/
#contador-header { display: none; }
@media only screen and (max-width:768px) {
    #box-bread-brumb { padding: 0; text-align: center; }
    .navbar-fixed-top { position: relative !important; }
    .sku { text-align: center; }
    #brand #caracteristicas, div#departament-banner { display: none; }
    .product-details .product-name { margin-bottom: 0; }
    .product-details .price-box .descricao-preco .valor-por strong { padding-top: 0; }
    .prateleira.vitrine > ul > li { width: 50%; min-height: 250px; float: left; padding: 0; }
    .prateleira.vitrine > ul > li .box-item { padding: 0; margin: 0; }
    .resultado-busca-filtro >fieldset select { width: 100%; }
    .resultado-busca-filtro >fieldset { width: 100%; }
    #collections .prateleira.vitrine { margin: 0; }
    .btn-filtros { border-radius: 0; border-color: #000; min-height: 34px; }
    div#departament-extra-top { margin: 0 15px; }
    #menu-mobile .menu-filtros .opcoes ul li { list-style: none; display: inline-block; }
    #menu-mobile .menu-filtros .opcoes ul { margin: 0; padding: 0; }
    #menu-mobile .menu-filtros .opcoes ul li a { padding: 3px 5px; line-height: 1em; border: solid 1px #000; display: block; color: #000; margin-right: 10px; margin-bottom: 10px; font-size: 13px; text-transform: uppercase; letter-spacing: .08em; }
    #menu-mobile .menu-filtros { }
    #menu-mobile .menu-filtros .btn-menu-xs { font-family: 'Poppins', sans-serif; font-size: 19px; margin-top: -10px; }
    #menu-mobile .menu-filtros .sub-titulo h3 { font-size: 13px; text-transform: uppercase; font-weight: 600; color: #000; margin-top: 10px; }
    #menu-mobile .menu-filtros #clean_filters, #apply_filter { text-transform: uppercase; background: #000; color: #fff; padding: 5px 10px; margin-top: 20px; font-size: 14px; display: inline-block; }
    #menu-mobile .menu-filtros #clean_filters { background: transparent; text-decoration: underline; color: #000 }
    #menu-mobile .menu-filtros .opcoes ul li a.selected { background: #000; border: #000; color: #fff; }
    #menu-mobile .menu-filtros .box-filtro { border-top: 1.5px solid #000; padding: 0 15px; }
    #menu-mobile .menu-filtros .header-menu-mobile { margin-bottom: 0; }
    #menu-mobile .menu-filtros .header-menu-mobile span { margin: 10px 0 0 15px; display: block; float: left; }
    .sub { margin-top: -10px; padding: 0 15px 20px 15px }
    .vitrine .flag.sale { background-size: 40px; top: 2%; }
}
.blog #category-extra-vitrine-2 { text-align: center; }
.blog #category-extra-vitrine-2 span.text-center { display: block; font-style: italic; margin-bottom: 20px; }
.blog #category-extra-vitrine-2 h2 { font-weight: 600; border-bottom: 3px solid #262626; display: inline-block; letter-spacing: .2em; margin-bottom: 15px; }
.blog #category-extra-vitrine-2 .col-md-4 { min-height: 540px; }
.blog #category-extra-vitrine-2 h3 { text-transform: uppercase; font-weight: 700; font-size: 1.2em; padding: 14px 5px 3px 5px; letter-spacing: 0.1em; margin: 0 0 10px 0; border-bottom: 3px solid #262626; display: inline-block; }
.blog #category-extra-vitrine-2 p { font-size: 1.1em; line-height: 1.4em; color: #000; font-weight: 300; text-align: justify; }
.hogar #category-extra-vitrine-2 h2 { font-weight: 600; letter-spacing: .2em; margin-bottom: 15px; text-transform: uppercase; }
.hogar #category-extra-vitrine-2 h3 { font-weight: 600; letter-spacing: .2em; margin-bottom: 20px; margin-top: 10px; color: #999; text-transform: uppercase; font-family: 'Poppins', sans-serif; font-size: 20px; }

/* Arrows */
.slick-prev, .slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 20px; height: 20px; margin-top: -10px; padding: 0; cursor: pointer; color: #333; border: none; outline: none; background: transparent; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { color: #000; outline: none; background: transparent; }
.slick-prev { left: -5px; }
.slick-prev:before { content: "\f060"; font: normal normal normal 14px/1 FontAwesome; }
.slick-next { right: -5px; }
.slick-next:before { content: "\f061"; font: normal normal normal 14px/1 FontAwesome; }

/* BOTONES BUTTON */
.disabled, .btn[disabled], fieldset[disabled] { cursor: not-allowed; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; opacity: .65; }